@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.forms_app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: column; */
  flex-wrap:nowrap;
   
  background-color: darkgrey;
}

h2 {
  margin-left: 20px;
}